<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Cart
      </div>

      <ul id="cart_list" class="list-group list-group-flush">
        <%= render "items/form", item: current_user.items.build %>
        <%= render current_user.items.cart.order(created_at: :desc) %>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        End Soon
      </div>

      <ul id="end_soon_list" class="list-group list-group-flush">
        <%= render current_user.items.end_soon.order(updated_at: :desc) %>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        In Stock!
      </div>

      <ul id="in_stock_list" class="list-group list-group-flush">
        <%= render current_user.items.in_stock.order(updated_at: :desc) %>
      </ul>
    </div>
  </div>
</div>
