<div class="row">
  <div class="col-md-4">
    <h2 class="h6 text-center">Cart</h2>

    <ul class="list-group">
       <%= render current_user.items.cart.order(created_at: :asc) %>
    </ul>
  </div>

 <div class="col-md-4">
    <h2 class="h6 text-center">End Soon</h2>

     <ul class="list-group">
     <%= render current_user.items.end_soon.order(updated_at: :desc) %>
    </ul>
  </div>

 <div class="col-md-4">
    <h2 class="h6 text-center">In Stock!</h2>

    <ul class="list-group">
      <%= render current_user.items.in_stock.order(updated_at: :desc) %>
    </ul>
  </div>
</div>
